<div class="container mt-5">
  <div class="card shadow round">
    <div class="card-header bg-light">
      <h1 class="mb-0 text-center">Relatório de Clientes</h1>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style="width:10%">Nome</th>
              <th style="width:10%">Email</th>
              <th style="width:10%">CPF</th>
              <th style="width:10%">Telefone</th>
              <th style="width:20%">Endereço</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <td>{{cliente.nome}}</td>
              <td>{{cliente.email}}</td>
              <td>{{cliente.cpf}}</td>
              <td>{{cliente.telefone}}</td>
              <td>{{cliente.endereco}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary py-3 px-5" (click)="gerarRelatorioClientes()">Gerar relatório de Clientes</button>
      </div>
    </div>
  </div>
</div>
