<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>Confirmacao Recolhimento</title>
</head>
<body>
	
	 <div class="container mt-5">
    <div class="card shadow round">
      <div class="card-header bg-light">
        <h1 class="mb-0 text-center">Confirmar Recolhimento</h1>
      </div>
      <div class="card-body">
        <div class="col-12">
          <div class="card shadow round">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Número do Pedido</th>
                      <th>Data/Hora</th>
                      <th>Cliente</th>
                      <th>Confirmar Recolhimento</th>
                    </tr>
                  </thead>
                  <tbody>
                      <td>001</td>
                      <td>09:37:01h 04/04/2024</td>
                      <td>Maria José</td>
                      <td>
                        <button class="btn btn-primary">Confirmar</button>
                      </td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
