<div class="container mt-5">
  <div class="card shadow round">
    <div class="card-header bg-light">
      <h1 class="mb-0 text-center">Pedidos em Abertos</h1>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-end mb-3">
        <p class="mr-3"><strong>Status do Pedido:</strong> Em Aberto</p>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nº do Pedido</th>
              <th>Data de Abertura</th>
              <th>Peças</th>
              <th>Prazo</th>
              <th>Valor</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pedido of pedidos" [ngSwitch]="pedido?.status">
              <td>{{pedido.id}}</td>
              <td>{{pedido.dataPedido | date:'dd/MM/yyyy HH:mm'}}</td>
              <td>
                <ul>
                  <li *ngFor="let roupa of pedido.roupas">
                    {{roupa.nome}}, {{roupa.quantidade}}
                  </li>
                </ul>
              </td>
              <td>{{pedido.prazo | date:'dd/MM/yyyy'}}</td>
              <td>{{pedido.precoTotal | currency:'BRL'}}</td>
              <td [ngStyle]="getCorPedido(pedido)">{{pedido.status | uppercase}}</td>
              <td *ngSwitchCase="status.EM_ABERTO">
                <button class="btn btn-danger" (click)="cancelar(pedido.id)">
                  <i class="fa fa-trash" aria-hidden="true"></i> Cancelar
                </button>
              </td>
              <td *ngSwitchCase="status.AGUARDANDO_PAGAMENTO">
                <a class="btn btn-primary" (click)="confirmarPagamento(pedido.id)">
                  <i class="fas fa-dollar-sign" aria-hidden="true"></i> Pagar
                </a>
              </td>
              <td *ngSwitchDefault></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
